<h1>Hi <%= name%></h1>

<nav>
    <a href="/mongo">Mongo</a>
    <a href="/searchboth">Both Databases</a>
</nav>

<form action="/search" method="GET">
    <input type="text" name="search" placeholder="Search Postgres Database..">
    <input type="submit" value="Search">
</form>
<% if (typeof(postgres_rows) !== 'undefined') { %>
    <table>
    <tr>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Occupation</th> 
    </tr>   
    <% if(postgres_rows.length > 0) { %>
        <% postgres_rows.forEach(pgData => { %>
                    <tr>
                        <th><%= pgData.first_name%></th>
                        <th><%= pgData.last_name%></th>
                        <th><%= pgData.email%></th> 
                        <th><%= pgData.occupation%></th> 
                    </tr>
            <% }) %>
    <% } %>
    </table>
<%}%>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
</form>
