<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!--include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->
<h1>Hello, <%= name%></h1>
<form action="/search" method="GET">
    <input type="text" name="search" placeholder="Search Postgres">
    <label for="searchby">Search by: </label>
    <select id="searchby" name="searchby">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="email">Email</option>
        <option value="occupation">Occupation</option>
    </select>
    <input type="submit" value="Search">
</form>
<% if (typeof(postgres_rows) !== 'undefined') { %>
    <table>
    <tr>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Occupation</th> 
    </tr>   
    <% if(postgres_rows.length > 0) { %>
        <% postgres_rows.forEach(pgData => { %>
                    <tr>
                        <th><%= pgData.first_name%></th>
                        <th><%= pgData.last_name%></th>
                        <th><%= pgData.email%></th> 
                        <th><%= pgData.occupation%></th> 
                    </tr>
            <% }) %>
    <% } %>
    </table>
<%}%>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
