<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!--include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

<!--Greet the user-->
<div class="center-container">
<p class="greeting">Hello, <%= name%>. Ready to search mongoDB?</p>
</div>
<!--Form-->
<div class="center-container">
<form action="/mongoSearch" method="GET">
    <!--Search bar-->
    <input type="search" name="search" placeholder="Search MongoDB" class="input-class2">
    <!--Drop down menu-->
    <label for="searchby" class="search-label">Search by: </label>
    <select id="searchby" name="searchby">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="email">Email</option>
        <option value="occupation">Occupation</option>
    </select>
    <input class="search-button" type="submit" value="Search">
</form>
</div>
<!--End of form-->

<!--Displays the results you get back from the database-->
<div class="center-container">
<% if (typeof(result) !== 'undefined') { %>
    <table class="display-table">
    <tr>
        <th>Name </th>
        <th>Email</th>
        <th>Occupation</th> 
    </tr>   
    <% if(result.length > 0) { %>
        <% result.forEach(Data => { %>
                    <tr>
                        <td><%= Data.item.firstname + " " + Data.item.lastname %></td>
                        <td class="table-email"><%= Data.item.email%></td> 
                        <td class="table-job"><%= Data.item.occupation%></td> 
                    </tr>
            <% }) %>
    <% } %>
    </table>
<%}%>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->