<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!--include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

<!--Greet the user-->
<div class="center-container">
<p class="greeting2">Hello, <%= name%>. Ready to search both Postgres and MongoDB?</p>
</div>
<!--Form-->
<div class="center-container">
<form action="/searchBothResults" method="GET">
    <!--Search bar-->
    <input type="search" name="search" placeholder="Search Both" class="input-class2">
    <!--Drop down menu-->
    <label for="searchby" class="search-label">Search by: </label>
    <select id="searchby" name="searchby">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="email">Email</option>
        <option value="occupation">Occupation</option>
    </select>
    <button class="search-button" type="submit">Search</button>
</form>
</div>
<!--End of form-->

<!--Displays the results you get back from the database-->
<div class="center-container">
<% if (typeof(both_rows) !== 'undefined') { %>
    <table class="display-table">
    <tr>
        <th>Name </th>
        <th>Email</th>
        <th>Occupation</th> 
    </tr>   
    <% if(both_rows.length > 0) { %>
        <% both_rows.forEach(item => { %>
                    <tr>
                        <td><%= item.firstname + " " + item.lastname%></td>
                        <td class="table-email"><%= item.email%></td> 
                        <td class="table-job"><%= item.occupation%></td> 
                    </tr>
            <% }) %>
    <% } %>
    </table>
<%}%>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->